
.messageContainer {
  position: relative;
  display: flex;
  height: 100vh;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* justify-content: space-between; */
  
  margin: 20px 20px 200px 20px;
  padding: 20px 20px 650px 20px;
  height: 100vh;
  /* border: 2px solid black; */
  /* border-radius: 10px;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3); */
}

.input{
  position: fixed;
  bottom: 0;
  width: 100vw;
  border-radius: 20px;
}

.headerz {
  position: static;
  top: 0;
  /* width: 100vw; */
  background-color: gray;
}

/* .chatContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
} */
.messageOne{
  position: relative;
  /* display: flex; */
  width: fit-content;
  height: fit-content;
  align-items: center;
  max-width: 80vw;
  word-wrap: break-word;
  margin-bottom: 15px;
  /* margin-right: 100px; */
  padding: 20px 20px 20px 5px;
  /* padding: 30px; */
  border-radius: 20px;
  background-color: indianred;
}

.message1Image {
  display: flex;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  margin-right: 10px;
  width: 75px;
  height: 75px;

}

.messageTwo {
  position: relative;
  /* display: flex; */
  width: fit-content;
  height: fit-content;
  align-items: center;
  word-wrap: break-word;
  max-width: 80vw;
  margin-bottom: 15px;
  /* margin-right: 100px; */
  padding: 20px 20px 20px 5px;
  /* padding: 30px; */
  border-radius: 20px;
  background-color: gray;
}