
.card {
  position: relative;
  width: 600px;
  padding: 20px;
  max-width: 85vw;
  height: 50vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
}




.cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  
}

.name {
  position: absolute;
  left: 10px;
  bottom: 0;
  background-color: rgba(255, 255, 255, .5);
  padding: 0 25px;
  margin: 10px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;

}

.techContainer {
 position: absolute;
 display: flex;
 right: 10px;
 bottom: 0;
}

.techChip {
  margin: 10px 5px;
  padding: 5px;
  font-size: 16px;
  border-radius: 25px;
  background-color: rgba(186, 186, 182, .5);
  
}


.swipe {
  position: absolute;
}