
.connectionContainer {
  
  /* position: relative; */
  display: flex;
  justify-content: space-around;

}




.tech {
  display: flex;
  
}

.connectionTile{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* justify-content: center; */
  /* flex-direction: column; */
  width: 75vw;
  
  height: 18vh;
  border-radius: 10px;
  background-color: gray;
 
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileImageContainer {
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  /* margin-bottom: 10px; */
  width: 100px;
  height: 100px;
  box-shadow: 0px 18px 20px 0px rgba(0, 0, 0, 0.3);
  
}

